{#if !$loggedIn && !$newUser}
<div out:fade="{duration: 100}" class="login-container">
  <div class="login-card">
    <h1>500 veckor</h1>
    <div class="input-wrapper"><input type="text" placeholder="Användarnamn"/></div>
    <div class="input-wrapper"><input type="password" placeholder="Lösenord" /></div>
    <div class="button-wrapper">
      <PrimaryButton primary text="Logga in" block on:click="$set({ loggedIn: true })"/>
    </div>
    <div class="button-wrapper">
      <a class="block button" href="intro" on:click="$set({ newUser: true })">Ny användare</a>
    </div>
  </div>
</div>
{/if}

<style>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f7ae5;
  }

  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  }

  .login-card:hover {
    box-shadow: 0 14px 25px rgba(0,0,0,0.16);
  }

  .input-wrapper {
    align-self: flex-start;
    width: calc( 100% - 22px);
    padding-bottom: 10px;
  }

  .button-wrapper {
    width: 100%;
    padding-bottom: 10px;
  }

  input {
    height: 40px;
    display: block;

    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
  }

  input:focus {
    outline: 0;
    border-color: #0f7ae5;
  }

  a.button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
  }

  a.button:focus {
    outline: 0;
  }

  a.button:hover {
    border-color: #b2b2b2;
  }

  .block {
    width: 100%;
  }
</style>

<script>
  import { fade } from "svelte-transitions";

  export default {
    transitions: { fade },

    components: {
      PrimaryButton: "./PrimaryButton.html",
    }
  };
</script>
