{#if !$newUser}
<div class="nav">
  <div class="links">
		<div class="link-wrapper">
			<a href="."><HeartIcon size="32" stroke="{segment === undefined ? '#39B54A' : '#EAEAEA'}" /></a>
		</div>
		<div class="link-wrapper">
			<a href="tillsammans"><WorldIcon size="32" stroke="{segment === 'tillsammans' ? '#39B54A' : '#EAEAEA'}" /></a>
		</div>
		<div class="link-wrapper">
			<a href="framsteg"><ListIcon size="32" stroke="{segment === 'framsteg' ? '#39B54A' : '#EAEAEA'}" /></a>
		</div>
		<div class="link-wrapper">
			<a href="anvandare"><UserIcon size="32" stroke="{segment === 'anvandare' ? '#39B54A' : '#EAEAEA'}" /></a>
		</div>
		<div class="link-wrapper">
				<a href="search"><SearchIcon size="32" stroke="{segment === 'search' ? '#39B54A' : '#EAEAEA'}" /></a>
			</div>
  </div>
</div>
{/if}

<style>
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: calc( 100% - 40px );
    padding: 20px;
    /*background: linear-gradient(to bottom, #28a5f5, #1e87f0);*/
		background: linear-gradient(to bottom, #333333, #111111);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		z-index: 900;
  }

  .links {
    display: flex;
		justify-content: center;
    align-items: center;
    width: 750px;
  }

	.link-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

  a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
  }
</style>

<script>
	export default {
		components: {
			HeartIcon: "./icons/HeartIcon.html",
			WorldIcon: "./icons/WorldIcon.html",
			ListIcon: "./icons/ListIcon.html",
			UserIcon: "./icons/UserIcon.html",
			SearchIcon: "./icons/SearchIcon.html",
		}
	}
</script>
